# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Backups
backup/
*.bak
*.old

# Logs
*.log

# Sensible Daten
.env

#Archiv
.Archiv/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
